body {
    font-family: arial, sans-serif;
    background: url(starsss.jpg);
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
}

header .logo{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: none;
    
}

header .logo span{
    color: rgb(252, 165, 179);
}

header .logo:hover{
    color: palevioletred;
    transition: 0.7s;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 800px;
    border: 1px solid #ccc;
    padding: 16px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.image-container {
    flex: 1 1 calc(33.333% - 16px);
    box-sizing: border-box;
    position: relative;
}

.image-container img {
    width: 100%;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
    cursor: star;
}

.image-container p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(253, 129, 166, 0.6);
    color: #fff;
    padding: 5px;
    border-radius: 4px;
}

.image-container p:hover {
    background-color: #fff;
    color: rgba(253, 129, 166, 0.6);
    border-radius: 50px;
    transition: 0.7s;
    cursor: star;
}

@media (max-width: 768px) {
    .image-container {
        flex: 1 1 calc(50% - 16px);
    }
}

@media (max-width: 480px) {
    .image-container {
        flex: 1 1 100%;
    }
}